/*-mixine-*/
/*-mixine-*/
/*adaptive*/
@media (max-width: 1200px) {
  .banner__title h1 {
    font-size: 52px;
  }
  .section-news_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    height: 1000px;
  }
  .section-about_us {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
    height: 1400px;
  }
  .about__wrap {
    margin: 20%, 2%, 11%, 2%;
  }
  .news_block_image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news_block_image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  .about__wrap__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__wrap__image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  .about__wrap__image_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__wrap__image_2 img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
  .footer_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer_wrap .footer_telephon {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bonus_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bonus_wrap .bonus_item {
    margin-bottom: 20px;
  }
  .bestsaller_title {
    font-size: 28px;
  }
  .gallery_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery_smoll {
    display: none;
  }
}

/*\adaptive\*/
/*# sourceMappingURL=responsive.css.map */